
.navbar-blue {
    background-color: aquamarine;
}

.bg-green {
    background-color: green;
}

.fixed-top-2 {
    margin-top: 56px;
    z-index: 1029;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.site-background {
    background-color: #dddddd;
}

.main-body-container {
    margin-top: 60px;
    margin-left: 10px;
    justify-content: center;
    display: flex;
}
