{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container" style="margin-top: 50px"></div>
    <div class="row">
        <form action="" method="post">
            {% csrf_token %}
            <div class="col-md-4">
                <h1 class="text-success">Sign up</h1>
            </div>
            {% for field in form %}
                <div>
                    {{field}}
                </div>
            {% endfor %}
            <a type="button" action="submit">Submit</a>
        </form>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/places.js@1.17.0"></script>
<script>
</script>
{% endblock %}
