{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container" style="margin-top: 50px"></div>
    <div class="row">
        <div class="col-md-4">
            <img src="{% static 'img/logo.png' %}">
        </div>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu erat ante. Aenean id augue ut arcu ullamcorper gravida. Nullam porttitor congue porttitor. Fusce id vehicula purus. Pellentesque tincidunt maximus laoreet. Fusce urna nisl, varius ac urna sed, varius congue risus. Curabitur pretium accumsan diam, sed malesuada orci aliquam consequat. Integer mattis consectetur maximus. Pellentesque ut porttitor nisl. Sed ultricies non justo sed bibendum. Phasellus viverra leo nec nisl pellentesque, quis eleifend orci vulputate. Sed efficitur non est blandit consectetur. Cras hendrerit ac turpis eu pellentesque. </p>
</div>
<script src="https://cdn.jsdelivr.net/npm/places.js@1.17.0"></script>
<script>
</script>
{% endblock %}
